<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Detección de Tumores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<script>
    function resetForm() {
        document.querySelector("form").reset();
        document.querySelector(".results").style.display = "none";
        document.querySelector(".reload-button").style.display = "none";
    }
    window.onload = function() {
        var results = document.querySelector(".results");
        var reloadButton = document.querySelector(".reload-button");
        if (results) {
            reloadButton.style.display = "block";
        }
    };
</script>
</head>
<body>
<div class="container">
    <h1>API Detección de Tumores</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".png,.jpg,.jpeg,.dcm" required>
        <button type="submit">Analizar Imagen</button>
    </form>
    
    {% if original_image %}
    <div class="results">
        <h2>Resultados del Análisis</h2>
        <div class="diagnosis">
            {% if has_tumor %}
            <p class="alert danger">TUMOR DETECTADO (Confianza: {{ confidence }})</p>
            {% else %}
            <p class="alert success">No se detectaron tumores (Confianza: {{ confidence }})</p>
            {% endif %}
        </div>
        <div class="image-grid">
            <div class="image-card">
                <h3>Imagen Original</h3>
                <img src="{{ url_for('static', filename='uploads/' + original_image.split('/')[-1]) }}" alt="Original">
            </div>
            <div class="image-card">
                <h3>Contornos Detectados</h3>
                <img src="{{ url_for('static', filename=result_images.contours) }}" alt="Contornos">
            </div>
            <div class="image-card">
                <h3>Mapa de Calor</h3>
                <img src="{{ url_for('static', filename=result_images.heatmap) }}" alt="Mapa de Calor">
            </div>
        </div>
    </div>
    <button class="reload-button" onclick="resetForm();">Cargar Otra Imagen</button>
    {% endif %}
</div>
</body>
</html>
